apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}
  namespace: default
  labels:
    app: {{name}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{name}}
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: {{name}}
        image: ghcr.io/{{repoOwnerLower}}/{{name}}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{containerPort}}
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: {{healthPath}}
            port: {{containerPort}}
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: {{healthPath}}
            port: {{containerPort}}
          initialDelaySeconds: 5
          periodSeconds: 5
